.hidden{
    opacity: 0;
    transform: translateY(-50%);
}

.show{
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
} 


@keyframes gradientAnimation {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


@keyframes welcomeIntro {
    0%{
        opacity: 0;  
        transform: translate(-100vw);     
        filter:blur(25px) ;
    }

    100%{
        opacity: 1; 
        transform: translateY(0);
        filter: blur(0); 
    }
}
@keyframes movingAnimation{
    0%,100%{
        transform: translateY(0%);
    }
        
    50%{
        transform: translateY(10%);
    }
}
